.addButton {
    margin-left: 1rem;
}

.removeButton {
    color: red;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    margin-left: .5rem;
    border-radius: 25%;
    transition: all .2s ease;
}

.removeButton:hover {
    background-color: #e5e5e5;
    font-weight: bold;
}